<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2 class="footer-title">Depense-moi</h2>
        <p>Votre application de gestion des dépenses et des revenus.</p>
      </div>
      <div class="footer-section contact">
        <h2 class="footer-title">Contact</h2>
        <p><i class="fas fa-envelope"></i> rahalisouhir.91@gmail.com</p>
        <p><i class="fas fa-envelope"></i> asma.rizgui@gmail.com</p>
        <p><i class="fas fa-phone"></i> +216 352 821 /+216 96 919 559 </p>
      </div>
    </div>
    <div class="footer-bottom">
      &copy;  {{ currentDate | date: 'yyyy' }} Depense-moi. Tous droits réservés.
    </div>
  </div>
</footer>