<div *ngIf="user" class="user-profile-container">
    <div class="card user-profile-card">
      <div class="card-header user-profile-header">
        <h2 class="user-profile-title"><i class="fas fa-user"></i>   {{ user.firstname }} {{ user.lastname}}</h2>
      </div>
      <div class="card-body user-info">
        <div class="user-info-item">
          <span class="label"><i class="fas fa-id-badge"></i> First Name:</span>
          <span>{{ user.firstname }}</span>
        </div>
        <div class="user-info-item">
          <span class="label"><i class="fas fa-id-badge"></i> Last Name:</span>
          <span>{{ user.lastname }}</span>
        </div>
        <div class="user-info-item">
          <span class="label"><i class="fas fa-envelope"></i> Email:</span>
          <span>{{ user.email }}</span>
        </div>
        <div class="user-info-item">
          <span class="label"><i class="fas fa-user-tag"></i> Role:</span>
          <span>{{ user.role }}</span>
        </div>
      </div>
    </div>
  
    <div class="card user-forms-card">
      <div class="card-header">
        <h3 class="form-title"><i class="fas fa-edit"></i> Update User</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="updateUser()" class="form-update">
          <input [(ngModel)]="user.firstname" name="firstname" placeholder="First Name" class="input-field">
          <input [(ngModel)]="user.lastname" name="lastname" placeholder="Last Name" class="input-field">
          <button type="submit" class="btn btn-update"><i class="fas fa-save"></i> Update</button>
        </form>
      </div>
    </div>
  
    <div class="card user-forms-card">
      <div class="card-header">
        <h3 class="form-title"><i class="fas fa-key"></i> Change Password</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="changePassword()" class="form-password">
          <input [(ngModel)]="currentPassword" name="currentPassword" type="password" placeholder="Current Password" class="input-field">
          <input [(ngModel)]="newPassword" name="newPassword" type="password" placeholder="New Password" class="input-field">
          <button type="submit" class="btn btn-password"><i class="fas fa-key"></i> Change Password</button>
        </form>
      </div>
    </div>
  
    <button (click)="deleteUser()" class="btn btn-delete"><i class="fas fa-trash-alt"></i> Delete Account</button>
  </div>
  