:root {
    --primary-color: #B39DDB; /* Violet clair */
    --primary-dark: #9575CD; /* Violet un peu plus foncé pour les hover */
    --text-color: #4A148C; /* Violet foncé pour le texte */
    --light-color: #FFFFFF;
    --border-color: #D1C4E9; /* Violet très clair pour les bordures */
}
body {
    color: var(--text-color);
    background-color:  #f8f9fa; /* Fond légèrement teinté */
    margin-bottom: 100px;
}
.custom-form .form-group {
    margin-bottom: 1rem;
}
.custom-form label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.card {
    border-color: var(--border-color);
}
.card-header {
    background-color:#ffebee;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
}
.btn-custom {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-color);
}
.btn-custom:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--light-color);
}
.expense-card {
    transition: all 0.3s ease;
    border-left: 4px solid var(--primary-color);
}
.expense-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.action-icon {
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--primary-dark);
}
.action-icon:hover {
    transform: scale(1.1);
}
.text-custom {
    color:forestgreen!important;
}